@charset "utf-8";
/* CSS Document */

/*------------------------------------*\
	RESET
\*------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img{ 
	border:0;
}
address,caption,cite,dfn,th,var{
	font-style:normal;
	font-weight:normal;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
}

/*------------------------------------*\
	MAIN BLOCKS
\*------------------------------------*/
html{
	font-family:Cambria, Georgia, "Times New Roman", Times, serif;
	font-size:100%; /* 16px */
	background:#fff;
	color:#333;
	height:101%;
}
body{
	padding:10px 10px;
}
#header{
	width:100%;
	float:left;
	padding:5px 0 5px 0;
	border-bottom:1px solid #aaa;
}
#main{
	width:900px;
	margin:auto;
}
#content,
#contentright{
	margin:5px 0px 5px 0;
	float:left;
	display:inline;
}
#content{
	width:700px;
	padding-right: 5px;
	word-wrap:break-word;
	position:relative;
}
#contentright{
	width:189px;
	padding-left:5px;
	border-left: 1px solid #aaa;
	text-align:right;
}
#footer{
	width:100%;
	float:left;
	clear:both;
	padding:5px 0 5px 0;
	border-top:1px solid #aaa;
}

/*------------------------------------*\
	GENERAL
\*------------------------------------*/

.wrap {
	position:relative;
	margin:0 auto;
	width:900px;
}
.clearfloat {
clear:both;
line-height:0px;
font-size:1px;
height:0;
}

/*------------------------------------*\
	HEADER
\*------------------------------------*/
#logo{
	float:left;
}
div#nav{
	float:right;
}
#header ul#menu {
	margin:0;
}
#header ul#menu li{
	display:inline;
}
#header ul#menu li a{

}
#header ul#menu li a:hover{
	color:grey;
}
#header ul#menu img {
	padding-bottom: 5px;
	margin-left: 8px;
}
#header ul#menu img.active {
	border-bottom:2px solid #666;
}

/*------------------------------------*\
	CONTENT
\*------------------------------------*/
h1{
	font-size:32px;
	font-weight:bold;
}
h2{
	margin-top:10px;
	font-size:24px;
	font-weight:bold;
}
h3{
	margin-top:20px;
	font-size:16px;
	text-transform:uppercase;
}
.inline{
	display:inline;
}
p {
	margin-top:5px;
}
div.recipe_list{
	display:inline;
	width:220px;
	min-height:165px;
	float:left;
	margin:0 10px 10px 0;
}
div.img_recipe_list{
	
}
img.recipe_list {
	width:220px;
	border:1px solid #aaa;
}
div.img_recipe_detail{
	/*margin:5px 10px 20px 20px;
	position:absolute;
	right:0px;
	top:0px;*/
}
img.recipe_detail {
	width:280px;
	border:1px solid #aaa;
	margin-top:10px;
}
span.recipe_name {
	font-size:20px;
	font-weight:bold;
}
span.recipe_name a {
	color:black;
	text-decoration:none;
}
ul#schedule {
	list-style-type:none;
}
ul#schedule div.date {
	float:left;
	width:100px;
	color:grey;
}
ul#schedule div.meal {
	float:left;
}
input.quickadd {
	width:200px;
}
ul.recipes {
	list-style-type:none;
}
ul.query_result {
	list-style-type:none;
}
ul.query_result li{
	width:200px;
	background-color:#ccc;
	border:1px solid #666;
}
ul.query_result li a:hover{
	text-decoration:underline;
	cursor:pointer;
}

/*------------------------------------*\
	IPHONE
\*------------------------------------*/
@media screen and (max-device-width: 480px){
/*--- iPhone only CSS here ---*/

body{
	padding:0px;
	width:auto;
	-webkit-text-size-adjust:none;
	font-family:Helvetica, Arial, Verdana, sans-serif;
}
div{
	clear:both!important;
	display:block!important;
	width:100%!important;
	float:none!important;
	margin:0!important;
	padding:0!important;
}
img{
	max-width:100%;
	height:auto;
}
img.recipe_list{
	width:100%!important;
}
img.recipe_detail{
	width:100%!important;
}
div.recipe_list{
	text-align:center!important;
}

}
