{% for day in schedule %}
	<li class="date{% ifequal day.date today %} today{% endifequal %}" key='{{ day.date|date:"Y-n-j" }}'>
		<div class="date">{{ day.date|naturalday:"l" }}</div>
		<div class="meal">
			<div class="add">
				<img class="add" src="/img/add_16.png"/>
			</div>
			<ul class="recipes">
				{% for meal in day.meals %}
					<li key="{{ meal.recipe.key }}"><a onclick='modifySchedule($(this), 2)'><img src='/img/delete_16.png'/></a> [{{ meal.recipe.type }}] <a href="/recipe?key={{ meal.recipe.key }}">{{ meal.recipe.name }}</a></li>
				{% endfor %}
				{% for invitation in day.invitations %}
					<li key="{{ invitation.meal.recipe.key }}">[INVITATION] {% if invitation.date > today %}{% else %}Going? <select name='status'>{% if invitation.attending == None %}<option>choose</option>{% endif %}<option value='yes'{% if invitation.attending == 'yes' %} selected='selected'{% endif %}>yes</option><option value='no'{% if invitation.attending == 'no' %} selected='selected'{% endif %}>no</option><option value='maybe'{% if invitation.attending == 'maybe' %} selected='selected'{% endif %}>maybe</option></select> {% endif %}[{{ invitation.meal.recipe.type }}] <a href="/recipe?key={{ invitation.meal.recipe.key }}">{{ invitation.meal.recipe.name }}</a></li>
				{% endfor %}				
			</ul>
		</div>
		<div class="clearfloat"></div>
	</li>
{% endfor %}
