{% extends 'base.html' %}

{% block schedule_status %}active{% endblock %}

{% block content %}
<h2>Schedule</h2>

<button id='back' class='getschedule'>previous</button>
<ul id="schedule" user="{{ user.key }}">
	{% include 'schedule_days.html' %}
</ul>
<button id='forward' class='getschedule'>next</button>

<script type="text/javascript">
var loader_html = "<div class='loading'>loading ...</div>";
$("img.add").live("click", function() {
	var html = "<input class='quickadd' type='text' value='' onkeyup='onKeyUp($(this), event)' />";
	html += "<ul class='query_result'></ul>";
	$(this).parent().append(html);
	$(this).parent().find("input.quickadd").focus();
	
});
$("input.quickadd").live("focusout", function(event) {
	//var quickadd = $(this).parent().find("input.quickadd");
	//var query_results = $(this).parent().find("ul.query_result");
	//quickadd.remove();
	//query_results.remove();
});
function onKeyUp(input, event) {
	if( event.keyCode == 13 ) {
		modifySchedule(input, 1);
	}
	else {
		queryRecipes(input);
	}
}
function queryRecipes(input) {
	if(input.val().length > 1) {
		input.parent().children("ul.query_result").html("");
		if (input.parent().children("div.loading").length==0) { input.parent().append(loader_html) };
		$.ajax({
			type: "POST", 
			url: "/recipe/jsonquery", 
			data: "query=" + input.val(),
			success: function( response ) {
				var results_html = "";
				json_response = eval('(' + response + ')');
				if (json_response.recipes.length > 0) {
					$.each(json_response.recipes, function(index, recipe) {
						results_html += "<li key='" + recipe.key + "'><a onclick='modifySchedule($(this), 1)'>" + recipe.name + "</a></li>"
					});
				} else {
					results_html += "no matching recipes found";
				}
				input.parent().children("div.loading").remove();
				input.parent().children("ul.query_result").html(results_html);
			}
		});
	} else {
		input.parent().children("div.loading").remove();
		input.parent().children("ul.query_result").html("");
	}

}
function modifySchedule(origin, action) {
	var date_li = origin.parentsUntil("li.date").parent();
	var date = date_li.attr("key");
	var recipe = origin.parent().attr("key");
	var post_data = "";
	if (recipe) {
		post_data = "recipe=" + recipe + "&date=" + date + "&action=" + action;
	} else {
		var recipe_name = origin.val();
		post_data = "recipe_name=" + recipe_name + "&date=" + date + "&action=" + action;
	}
	$.ajax({
		type: "POST", 
		url: "/schedule/modify", 
		data: post_data,
		success: function( response ) {
			json_response = eval('(' + response + ')');
			if (json_response.result=="ADD_OK") {
				var recipe_html = "<li key='" + json_response.recipe.key + "'><a onclick='modifySchedule($(this), 2)'><img src='/img/delete_16.png'/></a> [" + json_response.recipe.type + "] <a href='/recipe?key=" + json_response.recipe.key + "'>" + json_response.recipe.name + "</a></li>";
				origin.blur();
				date_li.find("ul.query_result").remove();
				date_li.find("input.quickadd").remove();
				date_li.find("ul.recipes").append(recipe_html);
			}
			if (json_response.result=="REMOVE_OK") {
				date_li.find("li[key='" + recipe +"']").remove();
			}
		}
	});
}
$("button.getschedule").live("click", function(event) {
	getSchedule(this);
});
function getSchedule(button) {
	schedule = $(document).find("ul#schedule");
	user = schedule.attr("user");
	if (button.id=='back') {
		start_date = schedule.children(":first").attr("key");
	}
	if (button.id=='forward') {
		start_date = schedule.children(":last").attr("key");
	}
	var data = "format=partial&direction="+button.id+"&start_date="+start_date;
	if (user) {data += "&user="+user};
	$.ajax({
		type: "GET", 
		url: "/schedule", 
		data: data,
		success: function( response ) {
			if (button.id=='back') {
				$(document).find("ul#schedule").prepend(response);
			}
			if (button.id=='forward') {
				$(document).find("ul#schedule").append(response);
			}
		}
	});
}
</script>

{% endblock %}