<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
	<title>Cuisine Sans Soucis</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);"></body>
<div id="container">
	<div id="header">
		<div class="wrap">
			<div id="logo">
				<h1>CuisineSansSoucis</h1>
			</div>
			<div id="nav">
				<ul id="menu">
					<li><a href="/recipes">recipes</a></li>
					<li><a href="/calendar">calendar</a></li>
					<li><a href="/profile">profile</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="main">
		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<div id="contentright">
			{% block profile %}{% include 'profile.html' %}{% endblock %}
		</div>
	</div>
	<div id="footer">
		<div class="wrap">
			(c) 2011 The Cornillie Bruvvas
		</div>
	</div>
</div>
</body>
</html>
