<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>Cuisine Sans Soucis</title>
</head>
<body>
	<div id="container">
		<div id="header">
			{% block header %}
				<a href="/">
				<h1>Cuisine Sans Soucis</h1>
				This is the page header ...
				</a>
			{% endblock %}
		</div>
		<div id="content">
			<div id="profile">{% block profile %}{% include 'profile.html' %}{% endblock %}</div>
			
			<div id="content_main">{% block content %}{% endblock %}</div>
		</div>
	</div>
</body>
</html>
