{% extends 'base.html' %}

{% block schedule_status %}active{% endblock %}

{% block content %}

<ul id="schedule">
	{% for day in schedule %}
		<li class="date" key='{{ day.date|date:"Y_n_j" }}'>
			<div class="date">{{ day.date|naturalday:"l" }}</div>
			<div class="meal">
				<ul class="recipes">
					{% for meal in day.meals %}
						<li key="{{ meal.recipe.key }}"><a href="/recipe?key={{ meal.recipe.key }}">{{ meal.recipe.name }}</a> [<a onclick='modifySchedule($(this), 2)'>remove</a>]</li>
					{% endfor %}
				</ul>
				<input class="quickadd" type="text" value="quickadd ..." />
				<div class="loading">loading ...</div>
				<ul class="query_result"></ul>
			</div>
			<div class="clearfloat"></div>
		</li>
	{% endfor %}
</ul>

<div id="debug" style="color:red;">debug</div>
<script type="text/javascript">
$("input.quickadd").focus(function() {
	$("#schedule input.quickadd").val("quickadd ...");
	$("#schedule ul.query_result").html("")
	$(this).val("");
});
$("input.quickadd").focusout(function() {
	$(this).val("quickadd ...");
});
$("input.quickadd").keyup(function() {
	var input = $(this);
	if(input.val().length > 1) {
		input.parent().children("ul.query_result").html("");
		input.parent().children("div.loading").show();
		$.ajax({
			type: "POST", 
			url: "/recipe/jsonquery", 
			data: "query=" + input.val(),
			success: function( response ) {
				var results_html = "";
				json_response = eval('(' + response + ')');
				if (json_response.recipes.length > 0) {
					$.each(json_response.recipes, function(index, recipe) {
						results_html += "<li key='" + recipe.key + "'><a onclick='modifySchedule($(this), 1)'>" + recipe.name + "</a></li>"
					});
				} else {
					results_html += "no matching recipes found";
				}
				input.parent().children("div.loading").hide();
				input.parent().children("ul.query_result").html(results_html);
			}
		});
	} else {
		input.parent().children("div.loading").hide();
		input.parent().children("ul.query_result").html("");
	}
});
function modifySchedule(button, action) {
	var date_li = button.parentsUntil("li.date").parent();
	var recipe = button.parent().attr("key");
	var date = date_li.attr("key");
	$.ajax({
		type: "POST", 
		url: "/schedule/modify", 
		data: "recipe=" + recipe + "&date=" + date + "&action=" + action,
		success: function( response ) {
			json_response = eval('(' + response + ')');
			if (json_response.result=="ADD_OK") {
				date_li.children("div.meal ul.recipes").append("<li key=" + json_response.recipe.key + "><a href='/recipe?key=" + json_response.recipe.key + "'>" + json_response.recipe.name + "</a> [<a onclick='modifySchedule($(this), 2)'>remove</a>]</li>");
				date_li.children("div.meal input.quickadd").val("quickadd ...")
				date_li.children("div.meal ul.query_result").html("")
			}
			if (json_response.result=="REMOVE_OK") {
				date_li.children("div.meal ul.recipes li[key='" + recipe +"']").remove();
			}
			date_li.children("div.meal input.quickadd").focus();
		}
	});
}
</script>

{% endblock %}
