{% extends 'base.html' %}

{% block schedule_status %}active{% endblock %}

{% block content %}

<ul id="schedule">
	{% for day in schedule %}
		<li class="date" key='{{ day.date|date:"Y_n_j" }}'>
			<div class="date">{{ day.date|naturalday:"l" }}</div>
			<div class="meal">
				<ul class="recipes">
					{% for meal in day.meals %}
						<li key="{{ meal.recipe.key }}"><a href="/recipe?key={{ meal.recipe.key }}">{{ meal.recipe.name }}</a> [<a onclick='modifySchedule($(this), 2)'>remove</a>]</li>
					{% endfor %}
				</ul>
				<input class="quickadd" type="text" value="quickadd ..." onkeyup="onKeyUp($(this), event)" />
				<ul class="query_result"></ul>
			</div>
			<div class="clearfloat"></div>
		</li>
	{% endfor %}
</ul>

<div id="debug" style="color:red;">debug</div>
<script type="text/javascript">
var loader_html = "<div class='loading'>loading ...</div>";
$("input.quickadd").focus(function() {
	$("#schedule input.quickadd").val("quickadd ...");
	$("#schedule ul.query_result").html("")
	$(this).val("");
});
$("input.quickadd").focusout(function() {
	$(this).val("quickadd ...");
});
function onKeyUp(input, event) {
	if( event.keyCode == 13 ) {
		modifySchedule(input, 1);
	}
	else {
		queryRecipes(input);
	}
}
function queryRecipes(input) {
	if(input.val().length > 1) {
		input.parent().children("ul.query_result").html("");
		if (input.parent().children("div.loading").length==0) { input.parent().append(loader_html) };
		$.ajax({
			type: "POST", 
			url: "/recipe/jsonquery", 
			data: "query=" + input.val(),
			success: function( response ) {
				var results_html = "";
				json_response = eval('(' + response + ')');
				if (json_response.recipes.length > 0) {
					$.each(json_response.recipes, function(index, recipe) {
						results_html += "<li key='" + recipe.key + "'><a onclick='modifySchedule($(this), 1)'>" + recipe.name + "</a></li>"
					});
				} else {
					results_html += "no matching recipes found";
				}
				input.parent().children("div.loading").remove();
				input.parent().children("ul.query_result").html(results_html);
			}
		});
	} else {
		input.parent().children("div.loading").remove();
		input.parent().children("ul.query_result").html("");
	}

}
function modifySchedule(origin, action) {
	var date_li = origin.parentsUntil("li.date").parent();
	var date = date_li.attr("key");
	var recipe = origin.parent().attr("key");
	var post_data = "";
	if (recipe) {
		post_data = "recipe=" + recipe + "&date=" + date + "&action=" + action;
	} else {
		var recipe_name = origin.val();
		post_data = "recipe_name=" + recipe_name + "&date=" + date + "&action=" + action;
	}
	$.ajax({
		type: "POST", 
		url: "/schedule/modify", 
		data: post_data,
		success: function( response ) {
			json_response = eval('(' + response + ')');
			if (json_response.result=="ADD_OK") {
				var recipe_html = "<li key='" + json_response.recipe.key + "'><a href='/recipe?key=" + json_response.recipe.key + "'>" + json_response.recipe.name + "</a> [<a onclick='modifySchedule($(this), 2)'>remove</a>]</li>";
				origin.blur();
				date_li.find("input.quickadd").val("quickadd ...")
				date_li.find("ul.query_result").html("")
				date_li.find("ul.recipes").append(recipe_html);
			}
			if (json_response.result=="REMOVE_OK") {
				date_li.find("li[key='" + recipe +"']").remove();
			}
			date_li.find("input.quickadd").focus();
		}
	});
}
</script>

{% endblock %}
